body {
    background-image: url(images/background.jpg);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "nav"
        "main"
        "img";
}
.shownav:before :hover{
    cursor: pointer;
}





.shownav {
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
}

.shownav:before {
    content: '';
    position: absolute;
    width: 1.25em;
    margin-top: 0.3em;
    border-top: 0.2em solid white;
}

body {
    background-image: url(images/background.jpg);
}

main {
    grid-area: main;
}

main h1 {
    color: #fff;
    background: linear-gradient(to bottom right, rgb(235, 216, 158) 30%, rgb(195, 150, 65) 60%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 3em;
    padding: 50px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

main p {
    color: #fff;
    width: 250px;
    font-size: large;
    margin-left: 50px;
    margin-right: 50px;
}

nav {
    background-color: rgb(22, 21, 21);
    color: rgb(255, 255, 255);
    font-family: 'Praise', cursive;
    font-weight: bold;
    text-decoration: none;
    grid-area: nav;
    display: none;
    justify-content: space-around;
    position: fixed;
    margin-left: 3em;
    top: 0;
    right: 50%;
    width: 50%;
    height: 100vh;
    padding-top: 1em;
}

#clicked .shownav {
    display: block;
}
#clicked .off {
    display: none;
}
#clicked:target .shownav {
    display: none;
}
#clicked:target .off {
    display: block;
    color: white;
    font-size: 1.3em;
    text-decoration: none;
    position: absolute;
    z-index: 1;
}
#clicked:target nav {
    display: block;
}
nav a {
    color: inherit;
}
img {
    border-radius: 40%;
    margin-left: 2em;
    margin-top: 8em;
    height: 15em;
    width: 15em;
    grid-area: img;
}