.home {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "nav"
        "main"
        "img"
        "footer";
}
.shownav:before :hover{
    cursor: pointer;
}

.shownav {
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
}

.shownav:before {
    content: '';
    position: absolute;
    width: 1.25em;
    margin-top: 0.3em;
    border-top: 0.2em solid white;
}

body {
    background-image: url(images/background.jpg);
}

main {
    grid-area: main;
}

.index h1 {
    color: #fff;
    background: linear-gradient(to bottom right, rgb(235, 216, 158) 30%, rgb(195, 150, 65) 60%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 3em;
    display: flex;
    padding: inherit;
    padding-bottom: 5px;
    margin-bottom: 5px;
    justify-content: center;
}

.index p {
    color: #fff;
    margin: auto;
    height: auto;
    font-size: large;
    width: 45vw;
}

nav {
    background-color: rgb(22, 21, 21);
    color: rgb(255, 255, 255);
    font-family: 'Praise', cursive;
    font-weight: bold;
    text-decoration: none;
    grid-area: nav;
    display: none;
    justify-content: space-around;
    position: fixed;
    margin-left: 3em;
    top: 0;
    right: 50%;
    width: 50%;
    height: 100vh;
    padding-top: 1em;
}

#clicked .shownav {
    display: block;
}
#clicked .off {
    display: none;
}
#clicked:target .shownav {
    display: none;
}
#clicked:target .off {
    display: block;
    color: white;
    font-size: 1.3em;
    text-decoration: none;
    position: absolute;
    z-index: 1;
}
#clicked:target nav {
    display: block;
}
nav a {
    color: inherit;
}
.home img {
    border-radius: 40%;
    margin: auto;
    margin-top: 4em;
    height: 15em;
    width: 15em;
    grid-area: img;
    display: flex;

}
footer {
    grid-area: footer;
    font-size: x-large;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 40vh;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 2em;
    margin-left: 0.2em;
}

footer p {
    color: white;
    text-decoration: underline;
    font-family: 'Amatic SC', cursive;
    text-align: center;
}
.footer {
    position: absolute;
    width: 100vw;
    height: 10em;
    top: 33em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2b4162;
    background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
    animation: slide-in 1000ms;
}
@keyframes slide-in {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}
.buttons {
    text-align: center;
}