* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(images/background.jpg);
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    grid-template-areas: "nav nav nav"
        "main main main"
        "footer footer footer";
        overflow-x: hidden;
}

body nav {
    background-color: rgb(22, 21, 21);
    color: rgb(255, 255, 255);
    font-family: 'Praise', cursive;
    padding: 1em;
    padding-top: 0.5em;
    height: 1em;
    font-weight: bold;
    text-decoration: none;
    margin-top: 0px;
    border-top: 0em;
    grid-area: nav;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 0.5em;
}

header {
    display: none;
}

nav a {
    color: inherit;
}

nav>ul>li {
    position: relative;
}

nav ul ul {
    position: absolute;
    display: block;
    background-color: rgb(22, 22, 21);
    padding: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    pointer-events: none;
}

nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    padding-left: 2.5em;
}

nav>ul>li:hover ul {
    display: block;
    opacity: 1;
    pointer-events: auto;
}

nav>ul>li>ul>li:hover a {
    background-color: rgba(212, 17, 17, 0.712);
    display: block;
}

footer {
    grid-area: footer;
    font-size: x-large;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 2em;
    margin-left: 0.2em;
}

footer p {
    color: white;
    text-decoration: underline;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    margin-bottom: 0.5em;
}

body main h1 {
    color: white;
    text-align: center;
    text-decoration: underline;
    font-family: 'Amatic SC', cursive;
    grid-column: 2/4;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: "head head head head"
        "para para para para"
        "img1 img2 img3 img4"
        "img5 img6 img7 img8";
    place-items: center;
}
.portfolio p{
    grid-area: para;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
    margin-top: 2em;
    font-size: larger;
    grid-column: 5/1;
}

main img {
    position: relative;
    border-radius: 10%;
    width: 17em;
    height: 9rem;
    margin-top: 5em;
    margin-left: 1em;
}

main h1 {
    color: gainsboro;
    grid-area: head;
}

.image {
    position: relative;
    width: 272px;
    grid-area: img1
}

.proj1 {
    display: block;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 144px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    opacity: 0;
    transition: opacity 0.25s;
}

.overlay:hover {
    opacity: 1;
}

.overlay>* {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.overlay:hover>* {
    transform: translateY(0);
}

.desc {
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.image2 {
    position: relative;
    width: 272px;
    grid-area: img2;
}

.proj2 {
    display: block;
    width: 100%;
}

.overlay2 {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 144px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    opacity: 0;
    transition: opacity 0.25s;
}

.overlay2:hover {
    opacity: 1;
}

.overlay2>* {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.overlay2:hover>* {
    transform: translateY(0);
}

.descDisney {
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.image3 {
    position: relative;
    width: 272px;
    grid-area: img3;
}

.proj3 {
    display: block;
    width: 100%;
}

.overlay3 {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 144px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    opacity: 0;
    transition: opacity 0.25s;
}

.overlay3:hover {
    opacity: 1;
}

.overlay3>* {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.overlay3:hover>* {
    transform: translateY(0);
}

.descUbisoft {
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.footer {
    position: absolute;
    width: 101vw;
    height: 11em;
    top: 34em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2b4162;
    background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
    animation: slide-in 1000ms;
}
@keyframes slide-in {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}

.buttons {
    text-align: center;
}

.image4 {
    position: relative;
    width: 272px;
    grid-area: img4;
}

.proj4 {
    display: block;
    width: 100%;
}

.overlay4 {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 144px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    opacity: 0;
    transition: opacity 0.25s;
}

.overlay4:hover {
    opacity: 1;
}

.overlay4>* {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.overlay4:hover>* {
    transform: translateY(0);
}

.descAnimals {
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.image5 {
    position: relative;
    width: 272px;
    grid-area: img5;
}

.proj5 {
    display: block;
    width: 100%;
}

.overlay5 {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 144px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    opacity: 0;
    transition: opacity 0.25s;
}

.overlay5:hover {
    opacity: 1;
}

.overlay5>* {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.overlay5:hover>* {
    transform: translateY(0);
}

.descWizards {
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.overlay, .overlay2, .overlay3, .overlay4, .overlay5, .overlay6, .overlay7, .overlay8{
    border-radius: 10%;
}
.image6 {
    position: relative;
    width: 272px;
    grid-area: img6;
}

.proj6 {
    display: block;
    width: 100%;
}

.overlay6 {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 144px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    opacity: 0;
    transition: opacity 0.25s;
}

.overlay6:hover {
    opacity: 1;
}

.overlay6>* {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.overlay6:hover>* {
    transform: translateY(0);
}

.descTesla {
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.image7 {
    position: relative;
    width: 272px;
    grid-area: img7;
}

.proj7 {
    display: block;
    width: 100%;
}

.overlay7 {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 144px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    opacity: 0;
    transition: opacity 0.25s;
}

.overlay7:hover {
    opacity: 1;
}

.overlay7>* {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.overlay7:hover>* {
    transform: translateY(0);
}

.descUoN {
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.image8 {
    position: relative;
    width: 272px;
    grid-area: img8;
}

.proj8{
    display: block;
    width: 100%;
}

.overlay8 {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 144px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    opacity: 0;
    transition: opacity 0.25s;
}

.overlay8:hover {
    opacity: 1;
}

.overlay8>* {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.overlay8:hover>* {
    transform: translateY(0);
}

.descBpool {
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: white;
}